<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "BlicTest">
    <test name = "P1 Test">
        <classes>
            <class name = "BaseClass">
                <methods>
                    <exclude name="SportPageVerifiation"></exclude>
                </methods>
            </class>
        </classes>
    </test>
</suite>